doctype html
html(lang="it")
   head
      //- Metatags 
      include includes/_metatags.jade
      //- Library and settings
      link( rel="stylesheet", href="/css/theme.min.css" )
   body.fadeIn#home
      //- Icons library (symbols)
      div( style="display: none" )
         include includes/_icons.jade
      //- Works panel
      include includes/_works.jade
      //- Lab panel
      include includes/_lab.jade
      //- Include headline module
      include includes/_header.jade
      script(type='text/javascript').
         if (window.location.hash ) { document.getElementById("menu-toggle").checked = true; }
