<!DOCTYPE html>
html(lang="it")
   head
      //-- Metatags 
      include includes/_metatags.jade
      //- Library and settings
      link( rel='dns-prefetch', href='http://fonts.googleapis.com' )
      link( rel='stylesheet', href='/css/style.min.css' )
   body SAMPLE TEXT
