<!DOCTYPE html>
html(lang="it")
   head
      //-- Metatags 
      include includes/_metatags.jade
      //- Library and settings
      link( rel='stylesheet', href='/css/style.min.css' )
   body
      p SAMPLE TEXT
