//- Headline module 
div.headline
   //- Personal information
   //- •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••
   div.info( itemscope itemtype="http://schema.org/Person" )
      //- Headinline title
      h1.headline__title.fadeInDown( itemprop="name" )
         |MATTIA 
         strong ASTORINO
      //- Headline subtitle
      h2.headline__subtitle.fadeInDown( itemprop="jobTitle" )
         |WEB DESIGNER
         span.headline__mark  & 
         |DEVELOPER
      //- Headline social links
      div.headline-socials
         //- Dribbble link
         a.headline-socials__link.fadeInUp( title="Follow my work on Dribbble" href="https://dribbble.com/astorino_mattia" target="_blank" )
            svg.headline__social-icon: use( xlink:href="#source--icons--dribbble" )
         //- Twitter link
         a.headline-socials__link.fadeInUp( title="Follow me on Twitter" href="https://twitter.com/MattiaAstorino" target="_blank" )
            svg.headline__social-icon: use( xlink:href="#source--icons--twitter" )
         //- GitHub link
         a.headline-socials__link.fadeInUp( title="Follow my lab on GitHub" href="https://github.com/equinusocio" target="_blank" )
            svg.headline__social-icon: use( xlink:href="#source--icons--github" )
   //- Navigation menu
   //- •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••                  
   nav.navigation.fadeInLeft
      div.navigation-container( itemscope itemtype="http://schema.org/BreadcrumbList" )
         input#menu-toggle.navigation__trigger( type="checkbox" )
         span.navigation-visual-trigger
            svg.navigation-visual-trigger__icon: use( xlink:href="#source--icons--hamburger" )
         a#works-link.navigation__link.fadeInLeft( href="#works" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" )
            |WORKS
         a#lab-link.navigation__link.fadeInLeft( href="#lab" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" )
            |LAB
