//- Headline module 
div.headline
   //- Headinline title
   h1.headline__title MATTIA <strong>ASTORINO</strong>
   //- Headline subtitle
   h2.headline__subtitle
      |WEB DESIGNER
      span.headline__mark  & 
      |DEVELOPER
   //- Headline social links
   div.headline-socials
      //- Dribbble link
      a.headline-socials__link( href="#" )
         svg.headline__social-icon.dribbble
            use( xlink:href='#source--icons--dribbble' )
      //- Twitter link
      a.headline-socials__link( href="#" )
         svg.headline__social-icon.twitter
            use( xlink:href='#source--icons--twitter' )
      //- GitHub link
      a.headline-socials__link( href="#" )
         svg.headline__social-icon.github
            use( xlink:href='#source--icons--github' )
