//- Content Panel
section#lab.panel
   //- Panel content
   div.panel-content
      //- Panel heading
      div.panel-heading
         h1.panel__title LAB
         h2.panel__subtitle Welcome to my laboratory. Don’t touch.
      //- Work item
      div.panel-item( itemscope itemtype="http://schema.org/CreativeWork" )
         a.panel-item__link( discussionUrl="https://dribbble.com/shots/2011164-Material-Design-Calendar?list=users&offset=7" href="https://dribbble.com/shots/2011164-Material-Design-Calendar?list=users&offset=7" target="_blank" title="Material Design Calendar on Dribbble" )
            img.panel-item__picture( src="https://d13yacurqjgara.cloudfront.net/users/44860/screenshots/2011164/presentation.png" alt="Material Design Calendar" itemprop="image" )
            h3.panel-item__title( itemprop="name" ) Material Design Calendar
         a#XAqz.sellfy-buy-button.cta-work( href="https://sellfy.com/p/XAqz/" data-value="BUY THIS RESOURCE" )
