//- Content Panel
section#lab.panel

   //- Panel content
   div.panel-content

      //- Panel heading
      div.panel-heading
         h1.panel__title LAB
         h2.panel__subtitle Welcome to my laboratory. Don’t touch.
      
      //- Lab item
      div.panel-item( itemscope itemtype="http://schema.org/CreativeWork" )
         a.panel-item__link( discussionUrl="http://codepen.io/MattiaAstorino/full/eNaNgq/" href="http://codepen.io/MattiaAstorino/full/eNaNgq/" target="_blank" title="Material Design - FAB Motion Animation" )
            img.panel-item__picture( src="/assets/images/lab/material-design-fab-motion.jpg" alt="Material Design - FAB Motion Animation" itemprop="image" )
            div.panel-item-tag
               svg.panel-item-tag__logo( height="20px" ): use( xlink:href="#source--icons--codepen" )
            
      //- Lab item
      div.panel-item( itemscope itemtype="http://schema.org/CreativeWork" )
         a.panel-item__link( discussionUrl="http://codepen.io/MattiaAstorino/full/RNaBwd/" href="http://codepen.io/MattiaAstorino/full/RNaBwd/" target="_blank" title="Material Design Paper on Codepen" )
            img.panel-item__picture( src="/assets/images/lab/material-design-panel.jpg" alt="Material Design Paper" itemprop="image" )
            div.panel-item-tag
               svg.panel-item-tag__logo( height="20px" ): use( xlink:href="#source--icons--codepen" )
      
      //- Lab item
      div.panel-item( itemscope itemtype="http://schema.org/CreativeWork" )
         a.panel-item__link( discussionUrl="http://codepen.io/MattiaAstorino/full/zxRayG/" href="http://codepen.io/MattiaAstorino/full/zxRayG/" target="_blank" title="User Profile Widget on Codepen" )
            img.panel-item__picture( src="/assets/images/lab/user-widget.jpg" alt="User Profile Widget" itemprop="image" )
            div.panel-item-tag
               svg.panel-item-tag__logo( height="20px" ): use( xlink:href="#source--icons--codepen" )
      
      //- Lab item
      div.panel-item( itemscope itemtype="http://schema.org/CreativeWork" )
         a.panel-item__link( discussionUrl="http://codepen.io/MattiaAstorino/full/MYNaNx/" href="http://codepen.io/MattiaAstorino/full/MYNaNx/" target="_blank" title="CSS Panels on Codepen" )
            img.panel-item__picture( src="/assets/images/lab/css-panels.jpg" alt="CSS Panels" itemprop="image" )
            div.panel-item-tag
               svg.panel-item-tag__logo( height="20px" ): use( xlink:href="#source--icons--codepen" )
      
      //- Lab item
      div.panel-item( itemscope itemtype="http://schema.org/CreativeWork" )
         a.panel-item__link( discussionUrl="http://codepen.io/MattiaAstorino/full/GgZLyE/" href="http://codepen.io/MattiaAstorino/full/GgZLyE/" target="_blank" title="Touch Hover Link on Codepen" )
            img.panel-item__picture( src="/assets/images/lab/touch-link.jpg" alt="Touch Hover Link" itemprop="image" )
            div.panel-item-tag
               svg.panel-item-tag__logo( height="20px" ): use( xlink:href="#source--icons--codepen" )
      
      //- Lab item
      div.panel-item( itemscope itemtype="http://schema.org/CreativeWork" )
         a.panel-item__link( discussionUrl="http://codepen.io/MattiaAstorino/full/jEVNeJ/" href="http://codepen.io/MattiaAstorino/full/jEVNeJ/" target="_blank" title="Luminescent Glass Vial" )
            img.panel-item__picture( src="/assets/images/lab/luminescent-vial.jpg" alt="Luminescent Glass Vial" itemprop="image" )
            div.panel-item-tag
               svg.panel-item-tag__logo( height="20px" ): use( xlink:href="#source--icons--codepen" )
