//- Panel layer
section.panel#projects
	
	//- Panel content
	div.panel-content
	
		//- Panel heading
		div.panel-heading
			h1.panel__title WORKS
			h2.panel__subtitle Check my last works and studies

		p Work in progress