//- Panel layer
section.panel#works
   //- Panel content
   div.panel-content
      //- Panel heading
      div.panel-heading
         h1.panel__title WORKS
         h2.panel__subtitle Check my last works and studies
      //- Work item
      div.panel-item( itemscope itemtype="http://schema.org/CreativeWork" )
         a.panel-item__link( discussionUrl="https://dribbble.com/shots/2011164-Material-Design-Calendar?list=users&offset=7" href="https://dribbble.com/shots/2011164-Material-Design-Calendar?list=users&offset=7" target="_blank" title="Material Design Calendar on Dribbble" )
            img.panel-item__picture( src="https://d13yacurqjgara.cloudfront.net/users/44860/screenshots/2011164/presentation.png" alt="Material Design Calendar" itemprop="image" )
            h3.panel-item__title( itemprop="name" ) Material Design Calendar
         a#XAqz.sellfy-buy-button.cta-work( href="https://sellfy.com/p/XAqz/" data-value="BUY THIS RESOURCE" )
      //- Work item
      div.panel-item( itemscope itemtype="http://schema.org/CreativeWork" )
         a.panel-item__link( discussionUrl="https://dribbble.com/shots/2015416-Nexus-5-Wireframe-for-Sketch?list=users&offset=6" href="https://dribbble.com/shots/2015416-Nexus-5-Wireframe-for-Sketch?list=users&offset=6" target="_blank" title="Nexus 5 Wireframe for Sketch" )
            img.panel-item__picture( src="https://d13yacurqjgara.cloudfront.net/users/44860/screenshots/2015416/dribbble.png" alt="Nexus 5 Wireframe for Sketch" itemprop="image" )
            h3.panel-item__title( itemprop="name" ) Nexus 5 Wireframe for Sketch
         a#AkOb.sellfy-buy-button.cta-work( href="https://sellfy.com/p/AkOb/" data-value="BUY THIS RESOURCE" )
      //- Work item
      div.panel-item( itemscope itemtype="http://schema.org/CreativeWork" )
         a.panel-item__link( discussionUrl="https://dribbble.com/shots/2025737-Neon-Mail-Material-Design?list=users&offset=3" href="https://dribbble.com/shots/2025737-Neon-Mail-Material-Design?list=users&offset=3" target="_blank" title="Neon Mail - Material Design" )
            img.panel-item__picture( src="https://d13yacurqjgara.cloudfront.net/users/44860/screenshots/2025737/neonmail.png" itemprop="image" )
            h3.panel-item__title( itemprop="name" ) Neon Mail - Material Design
      //- Work item
      div.panel-item( itemscope itemtype="http://schema.org/CreativeWork" )
         a.panel-item__link( discussionUrl="https://dribbble.com/shots/2025023-Material-Design-Icon-Grid-Template?list=users&offset=4" href="https://dribbble.com/shots/2025023-Material-Design-Icon-Grid-Template?list=users&offset=4" target="_blank" title="Neon Mail - Material Design" )
            img.panel-item__picture( src="https://d13yacurqjgara.cloudfront.net/users/44860/screenshots/2025023/material_design_icon_grid.png" itemprop="image" )
            h3.panel-item__title( itemprop="name" ) Neon Mail - Material Design
            a.cta-work( href="https://dribbble.com/shots/2025023-Material-Design-Icon-Grid-Template/attachments/358524" data-value="DOWNLOAD RESOURCE" )
