//- Panel layer
section.panel#works
   //- Panel content
   div.panel-content
      //- Panel heading
      div.panel-heading
         h1.panel__title WORKS
         h2.panel__subtitle Check my last works and studies
      //- Work item
      div.panel-item( itemscope itemtype="http://schema.org/CreativeWork" )
         a.panel-item__link( discussionUrl="https://dribbble.com/shots/2011164-Material-Design-Calendar?list=users&offset=7" href="https://dribbble.com/shots/2011164-Material-Design-Calendar?list=users&offset=7" target="_blank" title="Material Design Calendar on Dribbble" )
            img.panel-item__picture( src="https://d13yacurqjgara.cloudfront.net/users/44860/screenshots/2011164/presentation.png" alt="Material Design Calendar" itemprop="image" )
            h3.panel-item__title( itemprop="name" ) Material Design Calendar
         a#XAqz.sellfy-buy-button.cta-work( href="https://sellfy.com/p/XAqz/" data-value="BUY THIS RESOURCE" )
      //- Work item
      div.panel-item( itemscope itemtype="http://schema.org/CreativeWork" )
         a.panel-item__link( discussionUrl="https://dribbble.com/shots/1800742-Material-Datepicker-Dark?list=users&offset=15" href="https://dribbble.com/shots/1800742-Material-Datepicker-Dark?list=users&offset=15" target="_blank" title="Material Datepicker Dark on Dribbble" )
            img.panel-item__picture( src="https://d13yacurqjgara.cloudfront.net/users/44860/screenshots/1800742/db1.jpg" alt="Material Design Datepicker" itemprop="image" )
            h3.panel-item__title( itemprop="name" ) Material Design Datepicker 
         a#PAGE.sellfy-buy-button.cta-work( href="https://sellfy.com/p/PAGE/" data-value="BUY THIS RESOURCE" )
      //- Work item
      div.panel-item( itemscope itemtype="http://schema.org/CreativeWork" )
         a.panel-item__link( discussionUrl="https://dribbble.com/shots/2025023-Material-Design-Icon-Grid-Template?list=users&offset=5" href="https://dribbble.com/shots/2025023-Material-Design-Icon-Grid-Template?list=users&offset=5" target="_blank" title="Material Design Icon Grid Template on Dribbble" )
            img.panel-item__picture( src="https://d13yacurqjgara.cloudfront.net/users/44860/screenshots/2025023/material_design_icon_grid.png" alt="Material Design Icon Grid Template" itemprop="image" )
            h3.panel-item__title( itemprop="name" ) Material Design Icon Grid
         a.cta-work( href="https://dribbble.com/shots/2025023-Material-Design-Icon-Grid-Template/attachments/358524" data-value="FREE DOWNLOAD" )      
      //- Work item
      div.panel-item( itemscope itemtype="http://schema.org/CreativeWork" )
         a.panel-item__link( discussionUrl="https://dribbble.com/shots/2015416-Nexus-5-Wireframe-for-Sketch?list=users&offset=6" href="https://dribbble.com/shots/2015416-Nexus-5-Wireframe-for-Sketch?list=users&offset=6" target="_blank" title="Nexus 5 Wireframe for Sketch on Dribbble" )
            img.panel-item__picture( src="https://d13yacurqjgara.cloudfront.net/users/44860/screenshots/2015416/dribbble.png" alt="Nexus 5 Wireframe for Sketch" itemprop="image" )
            h3.panel-item__title( itemprop="name" ) Nexus 5 Wireframe for Sketch
         a#AkOb.sellfy-buy-button.cta-work( href="https://sellfy.com/p/AkOb/" data-value="BUY THIS RESOURCE" )
      //- Work item
      div.panel-item( itemscope itemtype="http://schema.org/CreativeWork" )
         a.panel-item__link( discussionUrl="https://dribbble.com/shots/1752963-Clean-Task-Manager-Widget?list=users&offset=17" href="https://dribbble.com/shots/1752963-Clean-Task-Manager-Widget?list=users&offset=17" target="_blank" title="Task Manager Widget on Dribbble" )
            img.panel-item__picture( src="https://d13yacurqjgara.cloudfront.net/users/44860/screenshots/1752963/1.jpg" alt="Task Manager Widget" itemprop="image" )
            h3.panel-item__title( itemprop="name" ) Task Manager Widget
         a#cdSw.sellfy-buy-button.cta-work( href="https://sellfy.com/p/cdSw/" data-value="BUY THIS RESOURCE" )
      //- Work item
      div.panel-item( itemscope itemtype="http://schema.org/CreativeWork" )
         a.panel-item__link( discussionUrl="https://dribbble.com/shots/2025737-Neon-Mail-Material-Design?list=users&offset=3" href="https://dribbble.com/shots/2025737-Neon-Mail-Material-Design?list=users&offset=3" target="_blank" title="Neon Mail - Material Design on Dribbble" )
            img.panel-item__picture( src="https://d13yacurqjgara.cloudfront.net/users/44860/screenshots/2025737/neonmail.png" alt="Neon Mail - Material Design" itemprop="image" )
            h3.panel-item__title( itemprop="name" ) Neon Mail - Material Design
      //- Work item
      div.panel-item( itemscope itemtype="http://schema.org/CreativeWork" )
         a.panel-item__link( discussionUrl="https://dribbble.com/shots/1733691-Animated-User-Profile-Widget?list=users&offset=18" href="https://dribbble.com/shots/1733691-Animated-User-Profile-Widget?list=users&offset=18" target="_blank" title="User Profile Widget on Dribbble" )
            img.panel-item__picture( src="https://d13yacurqjgara.cloudfront.net/users/44860/screenshots/1733691/user_profile_widget_-_ui_webterial.gif" alt="User Profile Widget" itemprop="image" )
            h3.panel-item__title( itemprop="name" ) User Profile Widget
      //- Work item
      div.panel-item( itemscope itemtype="http://schema.org/CreativeWork" )
         a.panel-item__link( discussionUrl="https://dribbble.com/shots/1629792-Smaller-App-Icon-Design?list=users&offset=28" href="https://dribbble.com/shots/1629792-Smaller-App-Icon-Design?list=users&offset=28" target="_blank" title="Smaller App Icon on Dribbble" )
            img.panel-item__picture( src="https://d13yacurqjgara.cloudfront.net/users/44860/screenshots/1629792/smaller.jpg" alt="Smaller App Icon" itemprop="image" )
            h3.panel-item__title( itemprop="name" ) Smaller App Icon
      //- Work item
      div.panel-item( itemscope itemtype="http://schema.org/CreativeWork" )
         a.panel-item__link( discussionUrl="https://dribbble.com/shots/2065464-New-Preap-Dark-Theme-for-Sublime-Text-3?list=users&offset=0" href="https://dribbble.com/shots/2065464-New-Preap-Dark-Theme-for-Sublime-Text-3?list=users&offset=0" target="_blank" title="Preap — Sublime Text 3 Theme on Dribbble" )
            img.panel-item__picture( src="https://d13yacurqjgara.cloudfront.net/users/44860/screenshots/2065464/687474703a2f2f692e696d6775722e636f6d2f7a4c63717758412e6a7067.jpg" alt="Preap — Sublime Text 3 Theme" itemprop="image" )
            h3.panel-item__title( itemprop="name" ) Preap — Sublime Text 3 Theme
      //- Work item
      div.panel-item( itemscope itemtype="http://schema.org/CreativeWork" )
         a.panel-item__link( discussionUrl="https://dribbble.com/shots/1959175-LIN-Framework-Logo?list=users&offset=11" href="https://dribbble.com/shots/1959175-LIN-Framework-Logo?list=users&offset=11" target="_blank" title="LIN Framework on Dribbble" )
            img.panel-item__picture( src="https://d13yacurqjgara.cloudfront.net/users/44860/screenshots/1959175/lin.png" alt="LIN Framework" itemprop="image" )
            h3.panel-item__title( itemprop="name" ) LIN Framework
