//- Panel layer
section.panel#works
   //- Panel content
   div.panel-content
      //- Panel heading
      div.panel-heading
         h1.panel__title WORKS
         h2.panel__subtitle Check my last works and studies
      //- Panel item list
      div.panel-item
         img.panel-item__picture( src="https://d13yacurqjgara.cloudfront.net/users/44860/screenshots/2011164/presentation.png" alt="Material Design Calendar" )
         h3.panel-item__title Material Design Calendar
