<!DOCTYPE html>
html(lang="it")
   head
      meta( charset="UTF-8" )
      title Document
      base( href='/' )
      link( rel='stylesheet', href='/css/style.min.css' )
   body
      |YOU FUCK THIS MAN aàkfdasj dfklsjdflkasjdlòfkasdlk fjasdflasdkfasod ifjasdfjaslòdkfasdasdasdASDasd
      |alsdkfjalsd fjalskjdfasldkjfasdlkjf alskdjfasl dfòjasdlf asdlfkasd fkjasdklfjasd 
      |òfkasdj sdfasldòf asdfòadjf adkslòf
